In [1]:
import os
import sys
import pandas as pd
path_to_class="./Auxiliar"

sys.path.append(path_to_class)

from OFHandlers import OFHandlers as OFH

In [2]:
mp_train_adhd=OFH.load_object("./Data/mp_train_adhd.file")
mp_train_adhd_combined=OFH.load_object("./Data/mp_train_adhd_combined.file")
mp_train_healthy=OFH.load_object("./Data/mp_train_healthy.file")

s1=len(mp_train_adhd)
s2=len(mp_train_healthy)
s3=len(mp_train_adhd_combined)
print("mp_train_adhd",len(mp_train_adhd))
print("mp_train_healthy",len(mp_train_healthy))
print("mp_train_adhd_combined",len(mp_train_adhd_combined))
print("sum",s1+s2+s3)

mp_train_adhd 28
mp_train_healthy 91
mp_train_adhd_combined 82
sum 201

In [3]:

mp_test_adhd=OFH.load_object("./Data/mp_test_adhd.file")
mp_test_adhd_combined=OFH.load_object("./Data/mp_test_adhd_combined.file")
mp_test_healthy=OFH.load_object("./Data/mp_test_healthy.file")

s1t=len(mp_test_adhd)
s2t=len(mp_test_healthy)
s3t=len(mp_test_adhd_combined)
print("mp_test_adhd",len(mp_test_adhd))
print("mp_test_healthy",len(mp_test_healthy))
print("mp_test_adhd_combined",len(mp_test_adhd_combined))
print("sum",s1t+s2t+s3t)

mp_test_adhd 6
mp_test_healthy 11
mp_test_adhd_combined 6
sum 23

In [4]:
def from_map_to_df(mappers,col_name):
    """
    Auxiliar function to create
    a dataframe of subjects ID
    with the same index as the dataset
    """
    list_holder=[]
    for each_maper in range(0,len(mappers)):
        current_list=[[(str(key)+",")*(value[1]-value[0])] for key,value in mappers[each_maper].items()]
        list_holder=list_holder+current_list
    new_list=[]
    for each in list_holder:
        p_list=each[0].split(",")
        new_list=new_list+p_list[0:len(p_list)-1]
        
    df=pd.DataFrame(new_list,columns=[col_name])
    return df

## Create dataframe with ID to keep track of patients (test)

In [9]:
df_train_identity=from_map_to_df([mp_train_adhd,mp_train_healthy,mp_train_adhd_combined],"train_patient_id")
df_train_identity.head()

  train_patient_id
0     NDARBL444FBA
1     NDARBL444FBA
2     NDARBL444FBA
3     NDARBL444FBA
4     NDARBL444FBA

In [6]:
df_test_identity=from_map_to_df([mp_test_adhd,mp_test_healthy,mp_test_adhd_combined],"test_patient_id")
df_test_identity.head()

  test_patient_id
0    NDARXF497LYF
1    NDARXF497LYF
2    NDARXF497LYF
3    NDARXF497LYF
4    NDARXF497LYF

In [11]:
OFH.save_object("./Data/df_train_identity.file",df_train_identity)
OFH.save_object("./Data/df_test_identity.file",df_test_identity)